$blue: #567fc3;
$blue_lite: #f1f8ff;
$white: #ffffff;

$bg: $blue_lite;
$tc: $white;

$ff1: 'Open Sans', sans-serif;
$ff2: 'Source Sans Pro', sans-serif;

$tt1: 0.7s;
$tt2: 0.4s;

$xl: 1600px;
$lg: 1200px;
$ipad: 1024px;
$md: 992px;
$sm: 768px;
$xs: 576px;
$iphone: 414px;
$nexus: 412px;
$mw: 320px;


$fz: 16px;

$z_index: 1;
$z_index_content: 5;