.close-icon{
	position: relative;
	display: inline-block;
	width: 61px;
	height: 61px;
	&:before, &:after{
		position: absolute;
		top: -4px;
		left: 23px;
		content: ' ';
		height: 68px;
		width: 15px;
		background-color: $blue;
	}
	&:before{
		transform: rotate(45deg);
	}
	&:after{
		transform: rotate(-45deg);
	}
}